<h1>name <%= @wanted_lists.name %><br/></h1>
<ul>
	<li>days <%= @wanted_lists.days %></li>
	<li>sex
	<% if @wanted_lists.sex == true  %>
		woman
	<% else %>
		man
	<% end %></li>
	
	<li>hair_style <%= @wanted_lists.hair_style %></li>
	<li>price <%= @wanted_lists.price %></li>
	<li>memo <%= @wanted_lists.memo %></li>
</ul>

<br/>
<br/>
<br/>
<%= link_to 'Edit',edit_wanted_list_path %>
<br/>
<br/>

<h2><%= link_to 'To  My Pege', @cosmetician %></h2>

