<h1>Cosmeticians#edit</h1>
<h2>update your profile</h2>

<div>
	<%= image_tag(@cosmetician.image) %>

	<%= form_for(@cosmetician) do |f| %>


		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :salon_name %>
		<%= f.text_field :salon_name %>

		<%= f.label :salon_address %>
		<%= f.text_field :salon_address %>

		<%= f.submit "Save Changes" %>
	<%end%>

	<a href="http://gravatar.com/emails">Change</a>
</div>


