<h1>Cosmeticians#show</h1>
<ul>
	<li><%= image_tag(@cosmetician.image) %></li>
	<li><%= @cosmetician.name %></li>
	<li><%= @cosmetician.email %></li>
	<li><%= @cosmetician.area_id%></li>
	<li><%= @cosmetician.salon_address %></li>
	<li><%= @cosmetician.salon_name %></li>
</ul>
<br/>
<br/>
<br/>

<% if signed_in? %>
	<div class="span8">
		<h3>WantedList</h3>
		<%= render 'shared/feed' %>
	</div>
<% end %>
