<h1>Cosmeticians#show</h1>

<%= gravatar_for @cosmetician %>
<%= @cosmetician.name %>
<%= @cosmetician.area_id%>
<%= @cosmetician.password %>
<%= @cosmetician.salon_address %>
<%= @cosmetician.salon_name %>
