<h1>Cosmeticians#show</h1>

<!-- gravatar_for @cosmetician -->
<%= @cosmetician.name %>
<%= @cosmetician.area_id%>
<%= @cosmetician.salon_address %>
<%= @cosmetician.salon_name %>
<br/>

<div class="span8">
<% if @cosmetician.wantedlists.any? %>
<h3>Wantedlitsts (<%= @cosmetician.wantedlists.count %>)</h3>
<ol class="wantedlists">
<%= render @wantedlists %>
</ol>
<%= will_paginate @wantedlists %>
<% end %>
</div>
