<h1>Cosmeticians#show</h1>

<%= image_tag(@cosmetician.image) %>
<%= @cosmetician.name %>
<%= @cosmetician.email %>
<%= @cosmetician.area_id%>
<%= @cosmetician.salon_address %>
<%= @cosmetician.salon_name %>
