<header>
<div>
	<ul>
		<li><%=link_to "Home",root_path %></li>
		<li><%=link_to "Help",help_path %></li>
		<% if signed_in? %>
			<li><%= link_to "Cosmeticians", cosmeticians_path %></li>
			<li>
				<a href="#">Account</a>
				<ul>
					<li><%= link_to "Profile", current_cosmetician %></li>
					<li><%= link_to "Settings", edit_cosmetician_path(current_cosmetician) %></li>
					<li></li>
					<li>
						<%= link_to "Sign out", signout_path, method: "delet" %>
					</li>
				</ul>
			</li>
		<%else%>
			<li><%= link_to "Sign in",signin_path %></li>
		<%end%>
	</ul>
</div>
</header>

